body {
  background-color: #aa04eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #efd317;
  border-style: none;
  color: #fdffff;
}
input {
  height: 20px;
}